/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* Playground by EThaiZone */
#parent {
  width: 100%;
  height: 200px;
  border:solid 1px #000;
}


#parent > .bot {
  opacity: 0.3;
  position:relative;
  float: left;
  transition: 0.5s;
}
#parent > .bot {
  opacity: 1;
}  

#bot{
  border:solid 1px #000;
  float: right;
}
  
